/* main.css */

/* - Root - */

:root {
    --app-height: 100vh;

    font-size: 20px;
}

/* -  - */

/* - Fonts - */

@font-face {
    font-family: "HANBatang-LVT";
    src: url("./fonts/HANBatang-LVT.eot");
    src: url("./fonts/HANBatang-LVT.eot") format("embedded-opentype"),
         url("./fonts/HANBatang-LVT.woff2") format("woff2");
}

.font-HANBatang-LVT {
    font-family: 'HANBatang-LVT';
}        

@font-face {
    font-family: "HANDotum-LVT";
    src: url("./fonts/HANDotum-LVT.eot");
    src: url("./fonts/HANDotum-LVT.eot") format("embedded-opentype"),
         url("./fonts/HANDotum-LVT.woff2") format("woff2");
}

.font-HANDotum-LVT {
    font-family: 'HANDotum-LVT';
}

/* -  - */

/* - Layout - */

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    height: var(--app-height);

    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

/* -- Main -- */

.container {
    height: 100%;
    max-width: 1024px;

    margin: 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

/* --- Box Apperence --- */

.container > * {
    margin: 0.5rem;
}

.input-box {
    padding: 0;

    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0 #ccc;

    overflow: hidden;
}

.input-box:focus-within {
    border-color: #000;
}

.input-box > * {
    background: transparent;

    border: none;
    border-radius: 10px;
}

.input-box > *:focus {
    outline: none;
}

/* ---- Select ---- */

.select-container {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.select-container select {
    padding: 0.7rem 1rem;
    padding-right: 0;

    display: block;
    width: 100%;

    font-size: 1rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-container select:focus {
    outline: none;
}

.select-container select option {
    line-height: 1.5em;
}

.select-container .select-arrow {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;

    /* height: 100%; */
    width: 2.6em;

    display: block;
    background-color: #aaa;

    border-radius: 0;
    /* border-radius: 0 10px 10px 0; */
    pointer-events: none;
}

.select-container .select-arrow::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);

    width: 0;
    height: 0;

    border: 0.6em solid transparent;
    border-top-color: #FFF;
}


/* ----  ---- */

/* ---- Textarea ---- */

.textarea-container {
    flex: 1;
}

textarea {
    margin: 0;
    padding: 1em;

    width: 100%;
    height: 100%;

    font-size: 1.2rem;

    resize: none;
}

textarea:focus {
    outline: none;
}

/* ----- Remove scrollbar form textarea ----- */

textarea {
    scrollbar-width: none;
    -ms-overflow-style: none;    
}

textarea::-webkit-scrollbar {
    display: none;
}

/* -----  ----- */

/* ----  ---- */

/* ---  --- */

/* --  -- */

/* -- Footer -- */

footer {
    padding: 0 0.5em;

    text-align: right;

    color: #888;
    font-family: 'Georgia', 'Cambria', 'Century Schoolbook', serif;
    font-style: italic;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* --  -- */

/* -  - */

/* - Debug Box - */
#debug {
    outline: 2px solid red;
    position: fixed;
    top: 2px;
    left: 2px;
    padding: 1em;
    background: rgba(255, 255, 255, 0.5);
}

#debug p + p {
    margin-top: 0.5em;
}

/* -  - */
